<br><br><br><br><br>
    <%= form_tag("/microposts/create") do %>
      <div class="form">
        <div class="form-body">
          <textarea name="number"></textarea>
          <textarea name="date"></textarea>
          <textarea name="content"></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>