

<div class="posts">
      <div class="post">
        <%= @micropost.number %>
      </div>
      <div class="post">
        <%= @micropost.date %>
      </div>
      <div class="post">
        <%= @micropost.content %>
      </div>
</div>
